body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
.external-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.external-links-container a {
  flex: 0 1 calc(30% - 20px); /* Define a largura de cada coluna */
  margin: 10px; /* Espaçamento entre as imagens */
  text-align: center;
  text-decoration: none;
}

.external-links-container img {
  max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adiciona espaço abaixo do botão */
}

.button-container a.button {
  padding: 25px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remover o sublinhado padrão do link */
}
.configuracao {
  margin-top: 20px;
  padding: 0px 60px;
}

.configuracao p {
  font-size: 14px;
  padding: 10px 110px; /* Adiciona 20px de padding nos lados esquerdo e direito */
  border: 1px solid #ccc;
  border-radius: 5px;
}
