/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.schedule-table {
  width: 80%;
  border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.schedule-table th {
  background-color: #f2f2f2;
}
