body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.display {
  overflow-y: auto;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  height: 50vh; /* Definindo a altura como metade da tela */
  display: flex;
  align-items: flex-start; /* Alinhando os itens no topo verticalmente */
  justify-content: center; /* Centralizando horizontalmente */
  flex-direction: column; /* Organizando os itens em coluna vertical */

}



.message {


  margin-inline: 5px;
}

.button-row {
  max-height: calc(50vh - 100px); /* Altura máxima para os botões, limitada a metade da tela */
  overflow-y: auto; /* Adiciona scroll apenas nos botões */


}

.button {
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 94px; /* Definindo uma largura fixa para os botões */

}




.button.clicked {
  background-color: #0cb300; /* Cor verde quando o botão é clicado */
}
.message[data-content="NOR/diag - On: normal function"] {
  color: #0cb300; /* Cor verde para a mensagem ativa */
}

.message[data-content="Off: NAV, DTO, DTC, ATT, CHC, EFO, EFS, ISC, drive-fault"],
.message[data-content="Load Weighing Overload Signal - Sinal de Sobrecarga de Pesagem de Carga. Este sinal está relacionado ao sistema de pesagem de carga no elevador, que é projetado para medir o peso do elevador e de seus ocupantes."] {
  color: #ff0000; /* Cor vermelha para a mensagem inativa */
}
.button-container {
  margin-left: 100px; /* Ajuste a quantidade de margem conforme necessário */
}
#searchBar {
  margin: 10px auto; /* Para centralizar horizontalmente */
  width: 80%; /* Definindo a largura */
  padding: 10px;
}
