body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}




.external-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.external-links-container a {
  flex: 0 1 calc(30% - 20px);
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.external-links-container img {
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container a.button {
  padding: 25px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}





.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  display: block;
}
h1, h2 {
  text-align: center;
}
#markdown-content  {
  /* Adicione estilos aqui */
  background-color: rgb(215, 220, 212);
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Defina a largura desejada */
  margin: 0 auto; /* Centraliza horizontalmente */
  overflow: hidden; /* Evita que o texto saia da caixa */
}
.configuracao {
  background-color: rgb(215, 220, 212);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  width: 80%; /* Defina a largura desejada */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.configuracao p {
  color: black; /* Define a cor do texto dentro da caixa */
  margin: 0; /* Remove a margem padrão do parágrafo */
}
.configuracao_2  {
  background-color: rgb(215, 220, 212);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  width: 80%; /* Defina a largura desejada */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.configuracao_2 p  {
  color: black; /* Define a cor do texto dentro da caixa */
  margin: 0; /* Remove a margem padrão do parágrafo */
}
