/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 80%; /* Container centralizado com 80% de largura */
  margin: 20px auto; /* Centraliza verticalmente e adiciona margem */
}

/* Estilos do formulário */
.form {
  flex: auto;
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #45a049;
}
/* Estilo para o elemento select */
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fff; /* Cor de fundo */
  color: #333; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  /* Adicione essas propriedades para aumentar o tamanho do select */
  height: 40px; /* Altura do select */

}


.input-group select:focus {
  outline: none; /* Remove o contorno ao focar */
  border-color: #4CAF50; /* Cor da borda ao focar */
}

.input-group select option {
  background-color: #fff; /* Cor de fundo das opções */
  color: #333; /* Cor do texto das opções */
}

/* Estilo para o elemento select dentro do container */
.container select {
  width: calc(100% - 22px); /* Leva em consideração o padding */
  padding: 10px;
}

/* Estilo para o botão dentro do container */
.container button {
  width: calc(100% - 22px); /* Leva em consideração o padding */
}
